@import "../../styles/base.scss";

.base-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: $white;
}

.auth-header {
  color: $black;
  font-size: 24px;
  text-align: center;
  margin-bottom: 1rem;
}

.demo {
  font-size: 14px;
  margin-top: -0.25rem;
  text-align: center;
  width: 300px;
  line-height: 1.25rem;
}

.code-mail {
  font-family: $code;

  &:hover {
    cursor: pointer;
    color: $primaryBlue;
  }
}

.auth-form {
  width: 480px;
  background-color: $white;
  border: 1px solid $gray;
  padding: 2rem;
}

.auth-group {
  margin-bottom: 1rem;
}

.auth-label {
  width: 100%;
  padding-right: 2rem;
  margin-bottom: 0.75rem;
  font-size: 14px;
  color: $darkGray;
  font-family: $code;
}

.auth-input {
  background-color: $lighterGray;
  border: 1px solid $lighterGray;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  line-height: 1.5em;
  outline: 0;
  transition: all 0.25s ease 0s;
  font-size: 16px;
  padding: 0 1rem;

  &:hover {
    border-color: $gray;
    transition: all 0.25s ease 0s;
  }

  &:focus {
    border-color: $primaryBlue;
    transition: all 0.25s ease 0s;
  }
}

.auth-error {
  margin-top: 0.5rem;
  color: $red;
  font-family: $code;
  font-size: 14px;
}

.auth-button {
  height: 40px;
  margin-top: 1rem;
  color: #ffffff;
  background-color: $primaryBlue;
  border-color: $primaryBlue;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  font-family: $code;
  transition: all 0.25s ease 0s;

  &:hover {
    background-color: $hoverBlue;
    border-color: $hoverBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
}

.bottom-group {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.link {
  background-color: $lighterGray;
  color: $darkGray;
  text-decoration: none;
  font-family: $code;
  transition: all 0.25s ease 0s;
  padding: 0.25rem;

  &:hover {
    color: $primaryBlue;
    transform: translateY(-2.5px);
    transition: all 0.25s ease 0s;
  }
}

@media (max-width: 800px) {
  .bottom-group {
    flex-direction: column;
    padding-left: 0px;
  }

  .link {
    margin: 0.25rem 0;
  }

  .auth-form {
    width: 80%;
  }
}
