@import "../../../../styles/base.scss";

.project-header {
  text-align: center;
  font-size: 24px;
  font-weight: $medium;
  color: $black;
}

.project-subheader {
  text-align: center;
}

.project-spinner {
  margin-bottom: 5rem;
}
