// base colors
$black: #212121;
$white: #fff;
$lighterGray: #fafafa;
$lightGray: #fefefe;
$gray: #e0e0e0;
$darkGray: #616161;
$primaryBlue: #1652f0;
$hoverBlue: #154de0;
$red: #d9605a;
$mainDark: #191f2b;
$lightDark: #222a37;

// font weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;

// fonts
$code: "Oxygen Mono", monospace;
